.col-content-container {
	display: grid;
	grid-template-columns: minmax(15rem, 1fr) 2fr;
	gap: 4rem;
}

.col-content-container.reverse {
	grid-template-columns: 2fr minmax(15rem, 1fr);
}

.copy > *:not(:first-child) {
	margin-top: 1rem;
}

.copy button {
	display: inline;
}

.copy * > button {
	margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
	.col-content-container {
		grid-template-columns: auto;
		gap: 2rem;
	}
}
