#about {
	background-color: var(--cl-background);
}

.other-info-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1rem 4rem;
}

.other-info h4 {
	margin-bottom: 0.25rem;
}

.other-info > p {
	margin-bottom: 1rem;
}

.button-list {
	display: grid;
	gap: 1rem;
}

.button-list .btn {
	width: 100%;
	text-align: left;
}

@media screen and (max-width: 800px) {
	.other-info-container {
		grid-template-columns: auto;
	}
}
